# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.Python

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# VS Code
.vscode/

# Migrations
*/migrations/
!*/migrations/__init__.py

# OS files
.DS_Store
Thumbs.db

# Test & coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
.pyre/